<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="../public/js/vendors.js")
  body
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit asperiores quae error repellendus facere officia ex fuga. Temporibus, ipsum voluptatem sit dolorum, aliquid minus neque dolorem non totam nesciunt ullam?
  h1 Hello World
  button.btn.btn-primary 按我
  h2: span: a: 你好